<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'acceuil</title>
</head>
<body>
  <h1>Ma Page d'Accueil</h1>

  <ul>
    <li><a href="script_1.html">Hello</a></li>
    <li><a href="script_2.html">Factorielle</a></li>
    <li><a href="script_3.html">Pyramides</a></li>
    <li><a href="script_4.html">Entrepreneurs</a></li>
    <li><a href="script_5.html">Books</a></li>
    <li><a href="script_7.html">Acné soit disant Bot</a></li>
  </ul>
</body>
</html>